<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>method</key>
        <string>debugging</string>
        <key>teamID</key>
        <string>9A6RGJ43ZH</string>
        <key>compileBitcode</key>
        <false/>
        <key>uploadSymbols</key>
        <true/>
        <key>uploadBitcode</key>
        <false/>
        <key>signingStyle</key>
        <string>manual</string>
        <key>signingCertificate</key>
        <string>iPhone Developer: Shravan Nitta (B59DM7KYYD)</string>
        <key>provisioningProfiles</key>
        <dict>
            <key>com.mahesh.mib</key>
            <string>f06c1744-f5af-4046-b4a6-577792c95ea2</string> <!--YOUR_PROVISIONING_PROFILE_UUID-->
        </dict>

    </dict>
</plist>
